.terms-wrapper {
  margin-top: 3rem;
  display: flex; /*ficarem dentro da div um no lado do outro*/
  gap: .75rem;
  align-items: flex-start;

  & strong {
    font-weight: 500;
    color: var(--text-highlight);
  }
}

.checkbox-wrapper {
  position: relative;

  & [type="checkbox"] {
    all: unset; /*Remove todos os estilos*/
    position: absolute;
    inset: 0; /*Este é um atalho para top: 0; right: 0; bottom: 0; left: 0;*/
  }

  .checkbox-image {
    flex: 0 0 1.5rem;
    height: 1.5rem;

    background-image: url(../../assets/icons/checkbox-default.svg);
  }

  &:hover,
  &:focus-within {
    .checkbox-image {
      background-image: url(../../assets/icons/checkbox-hover.svg);
    }
  }

  &:has(:checked) .checkbox-image{
    background-image: url(../../assets/icons/checkbox-checked.svg);
  }
}