body {
  margin: 0;
}

#app {
  display: grid; /*Os filhos recebem os atributos display: grid*/
  /* grid-template-columns: 100px 200px 300px; */
  /* grid-template-columns: 1fr 1fr 1fr; fraciona/quebra em partes */
  /*grid-template-columns: repeat(6, 1fr); fraciona/quebra em partes, repete 3. Se colocar um número maior vai guardar uma parte em branco pra futuros objetos.*/
  /* display: inline-grid; */
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-columns: 150px 1fr; */
  /* grid-template-rows: 200px 1fr; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;

  border: 2px solid green;
}

/* #app > div { */
#app > * {
  border: 1px solid red;
}

#app header {
  grid-row-start: 1;
  grid-row-end: 4;
}

#app main {
  grid-column: 2/4;
  grid-row: 1/3;
}