.container {
  /* height: 300px; */
  display: flex; /*automaticamente um item fica ao lado do outro*/
  /*flex-direction: row; *//* row (normal), reverse, column, row-reverse, column-reverse*/
  /* justify-content: space-evenly; */
  /* flex-direction: row; */
  /* align-items: center; */
  /* gap: 3px; */
  /* margin: 5px; */
  /* align-items: center; */
  /* align-content: center; */
  /* flex-wrap: wrap; */
}

.item {
  /* flex-basis: 220px; Relativo ao eixo principal */
  /* flex-grow: 1; */
  /* flex-basis: 120px; */
  /* flex-shrink: 0; padrão 1 */
  flex-basis: 10%;
}

.item:nth-child(2) { /*grow - crescer por proporção*/
  /* flex-grow: 4; */
  order: -1; /*0 é padrão. É visual, e não estrutural. É perigoso para acessibilidade, pois um leitor visualiza apenas o html em ordem*/
}